body {
    position: fixed;
    object-fit: cover;
}

h1, h2 {
    margin-left: 20px;
}

#text {
    width: 500px;
    height: 100px;
    margin: 20px;
}

button {
    margin: 20px;
    background-color: rgb(183, 255, 212);
}

.count {
    width: 200px;
    text-align: center;
    margin: 20px;
    margin-top: 40px;
    background-color: rgb(183, 255, 212);
}

#copied {
    position: relative;
    left: 450px;
}

.copy {
    color: rgb(0, 196, 78);
    display: none;
    position: absolute;
    top: -20px;
    left: 20px;
}